body {
    min-height:100%;
    background-image: url("https://i.ytimg.com/vi/ZYLBG6wjGR8/maxresdefault.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}
.name{
  color: black;
}
.text-center{
  text-align: center;
}

/*space here*/

.space-bot{
  margin-bottom: 35px;
}

.space-top{
  margin-top: 35px;
}

/*space here*/

/* Title */

h1 {
    font-family: 'Roboto';
    text-transform: uppercase;
    font-weight: 900;
    font-size: 25px;
    text-align: center;
}
label {
  color: blue;
}

/* Sign Up */

/*container here*/

.container {
    max-width: 400px;
    max-height: 100px;
    margin-top: 10px;
}

/*container here*/

.alert-danger{
	text-align: center;
}

/*signup here*/

.signup-screen {
	  padding: 20px;
    padding-bottom: 40px;
    border-radius: 5px;
    background-color: rgba(53, 40, 37, 0.46);
    box-shadow: 0 1px 6px rgba(0,0,0,.3);
    color: white;
    font-weight: 10px;
}

/*signup here*/

.btn{
  border-radius: 2px;
}



.done{
  background-color: #3d86c6;
}

.done:hover{
  background-color: #3d86c6;
}

.done:focus{
  background-color: #3d86c6;
}


/*input*/
.input-group {
    width:100%;
}

.input-group .ng-invalid {
    border: 2px solid #3d86c6;
    border-radius: 3px;
}

/*input*/

/* Error Box */

.alert{
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 2px;
  border-color: #e85a71;
  background-color:  #e85a71;
  color: white;
  
}

.help-block {
    font-size: 12px;
    color: white
}

