body {
overflow:hidden;
width:960px;
margin:10px auto
}
p {
border-bottom:1px dotted #d8d8d8;
padding-bottom:15px;
font-size:17px
}
h2{
	font-family: 'Dancing Script', cursive; color: black; font-size: 22px;
	text-align: center;
	margin-left: 25px;

}
img {
	background-size: 12px;
}
#slider {
width:500px;
top:150px;
position:absolute
}
#header {
width:260px;
height:360px;
position:absolute;
right:0;
border:1px solid #d8d8d8;
margin-left:40px;
padding:20px 40px;
border-radius:3px;
box-shadow:0 0 8px gray;
background-color: rgba(6, 172, 247, 0.21);
}
#sidebar {
position:absolute;
top:180px;
left:113px;
box-shadow:0 0 8px gray;
border-radius: 30px 20px;
}
#sidebar1 {
position:absolute;
top:180px;
left:113px;
box-shadow:0 0 8px gray;
border-radius: 30px 20px;
}

input[type=text] {
margin-top:40px;
padding:6px;
width:100%;
font-size:15px;
border-radius:2px;
border:3px solid #98d0f1
}

div#title {
position:absolute;
top:300px;
left:650px
}
select {
padding:6px;
width:100%;
font-size:15px;
border-radius:2px;
border:3px solid #98d0f1
}
textarea {
padding:6px;
font-size:15px;
border-radius:2px;
border:3px solid #98d0f1;
margin-top:10px;
height:80px;
width:100%
}
button {
background:#2bc1f2;
border:none;
color:#fff;
width:278px;
font-size:18px;
font-weight:bolder;
padding:8px 0;
border-radius:3px;
cursor:pointer;
margin-top:30px;
font-family: 'Dancing Script'
}
