@CHARSET "ISO-8859-1";

footer {
	background: black;
	color:#fff;
}

.container-footer {
	background: black;
	color:#fff;
}

.no-padding{
	padding-left: 0px;
}
 h3.footer-title{
	font-size: 18px; /*co chu*/
	margin-bottom:15px;
	margin-top:50px;
}
.hyperlink>a{
	color:#636161;
	font-size: 16px;
	font-weight: bold;
	display: block;
	text-decoration: none;

}
.hyperlink>a:hover{
	color: #929090;
}

hr{
    border-top: 1px solid #ccc;;

}

.social> div>a{
	color:#636161;
	font-size: 16px;
	font-weight: bold;
	display: block;
	text-decoration: none;
	margin-bottom: 30px;
	padding-top: 5px;

}
.social> div>a:hover{
	color: #929090;
}
.social> div>a>img{
	float:left;
	width: 30px;
	height: 30px;
	margin-right: 10px;

}

.row {
/* 	background: black; */
}