<!--
script xác định kích cở cho slide -->

#slider {
	padding: auto;
	margin: auto;
}
#wrapper {
	margin : auto;
	width: 900px;
	padding: 5px 5px;
	background : #FFFFFF;
	overflow: hidden;
	background: #FFFFFF;
	margin-left: 10%;
}


.container {
	width: 100%;
	height: auto;
	padding: auto; 
	margin-left: 6%;
	color: white;
}

#products{
	width: 100%;
	height: auto;
	padding: auto; 
	background-color: black;
}

#footer {
	float: left;
	position: relative;
	width: 100%;
	height: auto;
}

<!--Css for product-->




.row-for-product{
	padding: 0 auto;
	margin: 0 auto;
	vertical-align: middle;
    margin-top: 5px;
    position: relative;
	margin-left: 12%;
 }

.cell-for-each-product{
	dispaly: block;
	position: relative;
	margin: auto;
	float: left;
	width: 18%;
	margin-right: 1.5%;
	height : 240px;
	background-color: white;
	border: 1px solid #ececec;
	margin-bottom: 5px;
}

.cell-for-each-product:hover{
	position: relative;
	background-color: #ddd;
	border: 1px solid #ff2222;
}

.name-for-product:hover{
	font-size: 16px;
	color: blue;
}

.name-for-product{
	margin-top: 1%;
	width: 100%;
	height: 20px;
	position: relative;
	float: left;
}
.name-for-product strong{
    vertical-align: middle;
    font-size: 14px;
    position: relative;
    padding-left: 12px;
    font-weight: 600;
    color: #333;
}


.image-for-product{
	width: 90%;
	height: 180px;
	position: relative;
	float: left;
	margin-left: 5%;
	margin-top: 2%;
}
.image-for-product img{
	width: 100%;
	height: 100%;
	position: relative;
	float: left;
}


.price-for-product{
	margin-top: 1%;
	width: 100%;
	height: 20px;
	position: relative;
	float: left;
}
.price-for-product strong{
    vertical-align: middle;
    font-size: 14px;
    color: #c10017;
    position: relative;
    padding-left: 12px;
    font-weight: 600;
}

/* sửa home */

.container {
	display: block;
/*     overflow: hidden; */
/*     border-top: 1px solid #e5e5e5; */
    padding: 15px 0;
    margin-top: 5px;	
    z-index: 1;
}
	
.products {
	background-color: white;
	height: auto;
}

.row {
/* 	background-color: white;s
}

