.productDetail {
	background-color: white;
}

.rowdetail {
	display: block;
	overflow: hidden;
	border-top: 1px solid #e5e5e5;
	padding: 15px 0;
	margin-top: 5px;
	width: 1200px;
	height: 621px;
}

.rowdetail-left {
	with: 450px;
	height: 527px;
}

.rowdetail-left img {
	margin: 0 auto;
	width: 360px;
	height: 414px;
}

.clorandpic {
	
}

.owl-item {width = 67px;
	
}

.owl-item ul img {
	width: 36.8px;
	height: 40px;
}

.area_promotion {
	display: block;
	border: 1px solid #ddd;
	border-radius: 4px;
	position: relative;
	margin: 0 10px;
	background: #fff;
	padding-bottom: 10px;
}

.area_promotion strong {
	display: block;
	overflow: hidden;
	font-size: 14px;
	color: #333;
	padding: 8px 10px;
	text-transform: uppercase;
	background: #f7f7f7;
	border-bottom: 1px solid #ddd;
	font-weight: normal
}

.area_promotion span {
	display: block;
	overflow: hidden;
	font-size: 14px;
	color: #333;
	padding: 8px 10px 0 22px;
}

.btn-danger {
	margin-left: -5px; 
	width: 360px;
	color: #fff;
	background-color: #fd6e1d;
	border-color: #d43f3a;
}

.btn-danger a{
    text-decoration: none;
	color: white;
}

.btn-danger a: hover{
    text-decoration: none;
	color: white;
}

.btn-success {
	width: 360px;
	color: #fff;
	background-color: #288ad6;
	border-color: #4cae4c;
}

.button2 {
	margin-top: 10px;
	margin-left: 5px;
}

.button1 {
	margin-left: 5px;
}

.bottom_1 {
	margin-top: 5px;
}

/* menu xo xuong !*/
.dropbtn {
	width: 100%;
	background-color: #4CAF50;
	color: white;
	padding: 16px;
	font-size: 16px;
	border: none;
	cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
	background-color: #3e8e41;
}

.dropdown {
	width: 100%;
	position: absolute;
	display: inline-block;
	margin-bottom: 20px;
}

.dropdown-content {
	width: 100%;
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	overflow: auto;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropdown a:hover {
	background-color: #f1f1f1
}

.show {
	position: absolute;
	display: block;
	z-index: 10;
}

.dropdown-content img {
	margin-top: 10px;
	width: 55px;
	height: 56px;
	border: 1px solid #e5e5e5;
	padding: 3px;
}

.dropdown-content li {
	list-style-type: none;
}

/* menu xo xuong ^ */

.col-xs-2 img {
	margin-top: 10px;
	width: 55px;
	height: 56px;
	border: 1px solid #e5e5e5;
	padding: 3px;
}

.text {
	font-size: 31px;
	color: red;
	position: relative;
	left: 11px;
	font-weight: bold;
}

.col-md-4 .button3 {
	display: block;
	width: 100%;
	padding: 6px 0;
	margin: 10px 0 0;
	cursor: pointer;
	text-align: center;
	font-size: 14px;
	color: #288ad6;
	background: #fff;
	border: 1px solid #288ad6;
	border-radius: 4px
}

.col-md-4 .button3:hover {
	background: #288ad6;
	color: #fff;
}

.list-comment {
	margin-top: 20px;
}

ul li .question-comment {
	margin-left: 20px;
}

ul li .button-reply {
	margin-left: 20px;
}

ul li .awnser-comment {
	margin-left: 20px;
	background: #f1f1f1;
}

.list-comment ul {
	list-style-type: none;
	margin-left: -40px;
}

.text-comment {
	margin-bottom: 60px;
}

.button-send-comment {
	float: right;
	padding-top: 10px;
	padding-bottom: 10px;
	height: 40px;
	font-size: 14px;
	color: #fff;
	text-transform: uppercase;
	border: 1px solid #d97f00;
	border-radius: 4px;
	background: #f89406;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f76b1c),
		to(#f89406));
	background: -webkit-linear-gradient(top, #f89406, #f76b1c);
	margin-right: 60px;
}

.text-input-comment {
	border-radius: 4px;
	rows: 3;
	cols: 100;
	placeholder: "Mời bạn để lại bình luận";
}

.user-comment {
	font-weight: bold;
}

.icon-username {
	float: left;
	width: 25px;
	height: 25px;
	background: #ccc;
	margin-right: 7px;
	text-align: center;
	color: #666;
	text-transform: uppercase;
	font-size: 12px;
	line-height: 26px;
	font-weight: 600;
}

.user-comment {
	float: left;
	overflow: hidden;
	line-height: 22px;
	margin-top: 2px;
	text-transform: capitalize;
	font-weight: bold;
	font-size: 16px;
	cursor: default;
}

.comment{
	margin-top: 15px;
	margin-left: 30px;
	background: #ccc;
}

.day-comment{
	margin-left: 30px;
	color: #999;
}


.dropdown-content li a{
	text-decoration: none;
}

.btn a:hover {
	text-decoration: none;
	color: white;
}





