.content-cart {
	min-height: 300px;
	width: 100%;
	height: auto;
	background-color: #ddd;
	margin-top: 0px;
	padding: 30px;
}

.form-cart {
	border: solid 1px #ccc;
	margin-top: 20px;
	width: 50%;
	background-color: white;
	display: block;
	margin-left: 25%;
	display: block;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.product-cart {
	margin-top: 20px;
}

.list-order li {
	display: block;
	overflow: visible;
	margin: 10px 10px;
	padding-bottom: 10px;
	min-height: 130px;
	list-style: none;
	text-align: -webkit-match-parent;
}

.order-img {
	float: left;
	overflow: hidden;
	width: 140px;
	text-align: center;
	height: 130px;
}

.order-img img {
	padding-top: 20px;
}

.order-info {
	padding: 20px 20px 20px 20px;
	float: right;
	display: inline-block;
	overflow: visible;
	width: 76%;
	padding-left: 5px;
	background-color: white;
	font-size: 17px;
}

.order-info p {
	font-size: 17px;
}

.order-info strong {
	font-weight: bold;
	font-size: 17px;
	color: #333;
}

.name-product {
	font-size: 20px;
	font-weight: bold;
	color: #333;
	float: left;
}

.price-product {
	font-size: 17px;
	float: right;
	color: #c10017;
}

* {
	margin: 0;
	padding: 0;
}

.number-order {
	padding-left: 20px;
	padding-right: 20px;
	border: solid 1px #ccc;
	float: right;
}

.add-order {
	padding-left: 20px;
	padding-right: 20px;
	border: solid 1px #ccc;
	float: right;
}

/* dropdown --------------- */
button {
	background-color: none;
}

.dropbtn {
	background-color: #fff;
	width: 100%;
	color: blue;
	padding: 5px;
	font-size: 16px;
	border: solid 1px #ddd;
	cursor: pointer;
}

.dropdown {
	width: 30%;
	height: auto;
	background-color: white;
	position: relative;
	display: inline-block;
}

.dropdown-content {
	z-index: 10;
	font-size: 15px;
	width: 100%;
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 100px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content a {
	color: black;
	padding: 5px 5px;
	text-decoration: none;
	display: block;
}

.dropdown-content a span {
	padding-bottom: 20px;
}

.dropdown-content a:hover {
	background-color: #fafafa
}

.dropdown:hover .dropdown-content {
	display: block;
}

.dropdown:hover .dropbtn {
	background-color: #f1f1f1;
}

.dropdown-content img {
	margin-top: 5px;
	width: 40px;
	height: 40px;
	border: 1px solid #e5e5e5;
	padding: 0px;
}

.dropdown-content li {
	list-style-type: none;
}

.show {
	position: absolute;
	display: block;
	z-index: 10;
}

/* finish dropdown */

/* --------------------------------------------------------------------------------- */

/* dropdown ---------------  2*/
button {
	background-color: none;
}

.dropbtn1 {
	background-color: #fff;
	width: 100%;
	color: blue;
	padding: 5px;
	font-size: 16px;
	border: solid 1px #ddd;
	cursor: pointer;
}

.dropdown1 {
	height: auto;
	width: 100%;
	background-color: white;
	position: relative;
	display: inline-block;
}

.dropdown-content1 {
	font-size: 15px;
	width: 100%;
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 100px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content1 a {
	color: black;
	padding: 20px 20px;
	text-decoration: none;
	display: block;
}

.dropdown-content1 a:hover {
	background-color: #fafafa
}

.dropdown1:hover .dropdown-content1 {
	display: block;
}

.dropdown1:hover .dropbtn1 {
	background-color: #f1f1f1;
}

.dropdown-content1 img {
	margin-top: 5px;
	width: 40px;
	height: 40px;
	border: 1px solid #e5e5e5;
	padding: 0px;
}

.dropdown-content1 li {
	list-style-type: none;
}

.show {
	position: absolute;
	display: block;
	z-index: 10;
}

/* finish dropdown  2 */
.total-pay-left {
	height: auto;
	width: 45%;
	float: left;
	margin-bottom: 5px;
	display: block;
}

.total-pay-right {
	height: auto;
	width: 45%;
	float: right;
	padding-bottom: 5px;
	display: block;
}

.pay-ct {
	padding: 0px 30px;
	margin: 0px;
	height: 300px;
}

.pay-address {
	display: block;
	width: 100%;
	padding: 5px;
	font-size: 16px;
	border: solid 1px #ddd;
	border-radius: 3px;
}

.pay-phonenumber {
	border-radius: 3px;
	display: block;
	width: 100%;
	padding: 5px;
	font-size: 16px;
	border: solid 1px #ddd;
}

.pay-bt-div {
	
}

.pay-bt {
	color: white;
	background-color: #bb3300;
	border: solid 1px #ccc;
	margin-top: 10px;
	padding: 16px 100px;
	border-radius: 3px;
	cursor: pointer;
}

.pay-cart {
	margin-top: -20px;
	padding: 30px;
	height: 300px;
}

.pay-cart h1 {
	margin-top: 0px;
}

.total-pay {
	padding-left: 30px;
	padding-bottom: 17px;
	padding-right: 30px;
}

.name-total-pay {
	padding-top: 5px;
	float: left;
	padding-left: 30px;
	font-size: 18px;
}

.price-total-pay {
	color: red;
	font-size: 20px;
	float: right;
}

.areainfo input {
	display: block;
	padding: 9px 0;
	height: 20px;
	border: 1px solid #d9d9d9;
	border-radius: 4px;
	margin: 10px 0 5px;
	text-indent: 10px;
	width: 99.6%
}

.buy-more {
	padding-left: 30px;
}

.button-delete {
	padding-left: 20px;
}

.button-delete a {
	text-decoration: none;
	color: blue:
}

.form-cart a {
	text-decoration: none;
	color: blue:
}